@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  /* margin-bottom: 16px -> no need */
}

/* answer */

body {
  display: flex;
  flex-direction: column;
  /* align-items: center; -> no need */
  /* justify-content: space-between; -> no need  */
}

/* remove bullets from li */
ul {
  display: flex;
  /* flex-shrink: 0; no need */
  /* justify-content: space-between; no need */
  /* align-items: center; no need */
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 16px; /* spacing */
}

/* for the aesthetic */
a {
  color: #666;
  text-decoration: none;
}

/* no need
  li {
    padding: 8px;
  } 
*/

/* I forgot to group again */

  /* 
  notes: 
    1. They can be combined if they share a lot of same properties
    2. width: 100%; -> no need

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 24px;
  }

  .footer {
    width: 100%;
    background-color: #eee;
    padding: 24px;
    display: flex;
    justify-content: space-between;
  } */

.header, 
.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
  background-color: #eee;
}

/* I forgot to group again */

.content {
  flex: 1;
  /* 
    by applying this can save the properties from body,
    align-items: center;
    justify-content: space-between;
  */
  display: flex;
  justify-content: center; /* missed */
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

/* √ */
button {
  padding: 8px 16px;
}