.header  {
  font-family: monospace;
  background: papayawhip;
  /* answer */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  /* answer */
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
/* answer */
  align-self: center;
/* answer */
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  /* answer */
  display: flex;
  align-items: center;
  gap: 8px;
  /* answer */

  /* missing from solution */
  padding: 0;
  margin: 0;
  /* missing from solution */
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

/* 1. can't figure out why there is a padding-inline-start in ul */